doctype html

html(lang="en")

    head
        title Messages 📪
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        link(rel="stylesheet" href="./src/global.css")
    body
        section#react-messages
    script(src="./src/index.jsx")
