:root {
    --clr-main: #7D4CDB;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
    font-size: 3rem;
    color: var(--clr-main);
}

/* https://webaim.org/techniques/css/invisiblecontent/ */
.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.offscreen.focusable:focus {
  position: static;
  width: auto;
  height: auto;
}

nav:focus,
nav:focus-within {
  outline: 2px solid;
}

.messages {
  max-width: 70em;
  margin: 0 auto;
}
